body {
  margin: 0;
  background: #1C1C1C;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
}

.widget {
    width: 500px;
    background-color: #1F2937;
    margin: 20px auto;
    padding: 35px;
}

.container {
    border-bottom: 1px solid #2F3E53;
    padding-bottom: 30px;

}

.title {
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-weight: bold;
  }

.subtitle {
    margin-top: -5px;
    padding: 0;
    color: #4ADF86;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.desc {
    color: #ffffff;
    font-size: 15px;
    font-family: "Inter", serif;
    color: #D5D4D8;
    margin: 0 0 51px 0;
}

.btn {
    margin-top: 0px;
    background: #10B981;
    border: unset;
    padding: 10px 15px;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Inter", serif
}

.passwords {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    gap: 30px
}

.password {
    background: #273549;
    padding: 10px 40px 10px 20px;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    color: #55F991;
    font-family: "Inter", serif
}

